*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
app/release/app-release.apk
app/release/output.json
app/schemas/com.bloodshare.bloodshareandroid.model.db.AppDatabase/1.json
